<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.winey.cart.CartMapper">

    <select id="selCart">
        SELECT
        A.cart_id AS cartId, A.user_id, B.product_id AS productId,
        A.quantity, B.nm_kor AS nmKor,
        B.nm_eng AS nmEng, c.sale_price salePrice,
        IF(C.sale_yn = 1, IF(c.sale_price = 0, B.price, c.sale_price), B.price) AS price,
        B.pic
        FROM
        t_cart A
        LEFT JOIN
        t_product B ON A.product_id = B.product_id
        LEFT JOIN
        t_sale C ON B.product_id = C.product_id
        WHERE
        A.user_id = #{userId}
        AND A.created_at >= CURDATE()
        AND A.buy_yn = 0;
    </select>

    <insert id="insCart" useGeneratedKeys="true" keyProperty="cartId">
        insert ignore into t_cart
        set
        user_id = #{userId},
        product_id = #{productId},
        quantity = #{quantity},
        buy_yn = 0
    </insert>

    <delete id="delCart">
        delete from t_cart
        where cart_id = #{cartId}
    </delete>

    <update id ="updCart">
        update t_cart
        set quantity = #{quantity},
        updated_at = current_timestamp()
        where cart_id = #{cartId}
    </update>


</mapper>