<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.winey.history.HistoryMapper">
    <select id="selOrder">
        select A.product_id productId, B.order_id orderId, B.order_date orderDate, C.nm_kor nmKor, A.order_detail_id
        orderDetailId , B.payment, A.sale_price salePrice , B.order_status orderStatus
        from t_order_detail A
        inner join t_order B
        inner join t_product C
        where A.order_id =#{orderId}
    </select>

    <update id="updPick">
        update t_order
        set order_status = 5
        where order_id = #{orderId}
    </update>
</mapper>