<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.winey.main.MainMapper">

    <select id="selWine">
        SELECT product_id productId, category_id categoryId, feature_id featureId, country_id countryId,
        aroma_id aromaId, nm_kor nmKor, nm_eng nmEng, price, quantity, pic,
        promotion, beginner, alcohol
        FROM t_product
    </select>

    <select id="selWineById">
        SELECT product_id productId, category_id categoryId, feature_id featureId, country_id countryId,
        aroma_id aromaId, nm_kor nmKor, nm_eng nmEng, price, quantity, pic,
        promotion, beginner, alcohol
        FROM t_product
        WHERE product_id = #{productId}
    </select>

    <select id="selWineByPrice2">
        <![CDATA[
            SELECT product_id productId, category_id categoryId, feature_id featureId, country_id countryId,
            aroma_id aromaId, nm_kor nmKor, nm_eng nmEng, price, quantity, pic,
            promotion, beginner, alcohol
            FROM t_product
            WHERE price < 20000
        ]]>
    </select>

    <select id="selWineByPrice25">
        <![CDATA[
            SELECT product_id productId, category_id categoryId, feature_id featureId, country_id countryId,
            aroma_id aromaId, nm_kor nmKor, nm_eng nmEng, price, quantity, pic,
            promotion, beginner, alcohol
            FROM t_product
            WHERE price > 20000 AND price < 50000
        ]]>
    </select>


    <select id="selWineByPrice510">
        <![CDATA[
            SELECT product_id productId, category_id categoryId, feature_id featureId, country_id countryId,
            aroma_id aromaId, nm_kor nmKor, nm_eng nmEng, price, quantity, pic,
            promotion, beginner, alcohol
            FROM t_product
            WHERE price > 50000 AND price < 100000
        ]]>
    </select>

    <select id="selWineByPrice10">
        <![CDATA[
            SELECT product_id productId, category_id categoryId, feature_id featureId, country_id countryId,
            aroma_id aromaId, nm_kor nmKor, nm_eng nmEng, price, quantity, pic,
            promotion, beginner, alcohol
            FROM t_product
            WHERE price > 100000
        ]]>
    </select>

    <select id="selWineByCountry">
        SELECT a.product_id productId, a.category_id categoryId, a.feature_id featureId, a.country_id countryId,
        a.aroma_id aromaId, a.nm_kor nmKor, a.nm_eng nmEng, a.price, a.quantity, a.pic,
        a.promotion, a.beginner, a.alcohol
        FROM t_product a
        INNER JOIN t_country b
        ON a.country_id = b.country_id
        WHERE b.country_id = #{countryId}
    </select>

    <select id="selWineByFood">
        SELECT a.product_id productId, a.category_id categoryId, a.feature_id featureId, a.country_id countryId,
        a.aroma_id aromaId, d.big_category_id bigCategoryId, a.nm_kor nmKor, a.nm_eng nmEng, a.price, a.quantity, a.pic,
        a.promotion, a.beginner, a.alcohol
        FROM t_product a
        INNER JOIN t_wine_pairing b
        ON a.product_id = b.product_id
        INNER JOIN t_small_category c
        ON b.small_category_id = c.small_category_id
        INNER JOIN t_big_category d
        ON c.big_category_id = d.big_category_id
        WHERE d.big_category_id = #{bigCategoryId}
    </select>

</mapper>
