<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.winey.payment.PaymentMapper">

    <insert id="insPayment" useGeneratedKeys="true" keyProperty="orderId">
        insert into t_order
        set user_id = #{userId},
        store_id = #{storeId},
        payment = 1,
        total_order_price = #{totalOrderPrice},
        pickup_time = #{pickupTime},
        order_status = #{orderStatus}
    </insert>

    <insert id = "insOrderDetail">
        insert into t_order_detail
        set order_id = #{orderId},
        product_id = #{productId},
        quantity = #{quantity},
        sale_price = 1
    </insert>

    <update id = "updBuy">
        update t_cart
        set buy_yn = 1
        where cart_id = #{cartId}
    </update>

    <update id="updPayment">
        update t_order
        set order_status = #{orderStatus}
        where payment = 1
    </update>

    <select id = "selSumPrice">
        SELECT sum(A.quantity * B.price) sumPrice
        from t_cart A
        inner JOIN t_product B
        ON A.product_id = B.product_id
        WHERE user_id = #{userId}
        order by userId;
    </select>

    <insert id ="insReview">
        INSERT INTO t_review (review_level, order_detail_id)
        SELECT review, order_detail_id
        FROM t_review
        WHERE order_status = 4
    </insert>

    <select id = "selOrderDetail">
        SELECT A.order_id orderId, A.quantity, A.sale_price salePrice
        , A.product_id productId, B.nm_kor nmKor, B.nm_eng nmEng, B.pic
        FROM t_order_detail A
        inner JOIN t_product B
        ON A.product_id = B.product_id
        where order_id = #{orderId}
    </select>

    <select id = "selRegion">
        SELECT
        u.user_id, u.region_nm_id regionNmId, r.region_nm regionNm, s.store_id storeId, s.nm
        FROM t_user u
        inner JOIN t_region_nm r
        ON u.region_nm_id = r.region_nm_id
        inner JOIN t_store s
        ON u.region_nm_id = s.region_nm_id
        WHERE user_id = #{userId}
    </select>

</mapper>