<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.winey.recommend.RecommendMapper">


    <select id="selRecommand" resultType="Long">
        SELECT distinct B.product_id productId
        FROM t_wine_pairing A
        INNER JOIN t_product B ON A.product_id = B.product_id
        INNER JOIN t_country C ON B.country_id = C.country_id
        INNER JOIN t_category D ON B.category_id = D.category_id
        INNER JOIN t_small_category E ON A.small_category_id = E.small_category_id
        INNER JOIN t_aroma F on F.product_id = B.product_id
        <where>
            <if test="categoryId != null">
                AND (
                <foreach item="categoryId" collection="categoryId" separator=" OR " open="(" close=")">
                    D.category_id = #{categoryId}
                </foreach>
                )
            </if>
            <if test="countryId != null">
                AND (
                <foreach item="countryId" collection="countryId" separator=" OR " open="(" close=")">
                    C.country_id = #{countryId}
                </foreach>
                )
            </if>
            <if test="smallCategoryId != null">
                AND (
                <foreach item="smallCategoryId" collection="smallCategoryId" separator=" OR " open="(" close=")">
                    E.small_category_id = #{smallCategoryId}
                </foreach>
                )
            </if>

            <if test="!(flower == 0 and plant == 0 and fruit == 0 and spicy == 0 and earth == 0 and oak == 0 and nuts == 0)">
                AND (
                <if test="flower != 0">
                    flower = #{flower}
                </if>
                <if test="plant != 0">
                    <if test="flower != 0">
                        OR
                    </if>
                    plant = #{plant}
                </if>
                <if test="fruit != 0">
                    <if test="flower != 0 or plant != 0">
                        OR
                    </if>
                    fruit = #{fruit}
                </if>
                <if test="spicy != 0">
                    <if test="flower != 0 or plant != 0 or fruit != 0">
                        OR
                    </if>
                    spicy = #{spicy}
                </if>
                <if test="earth != 0">
                    <if test="flower != 0 or plant != 0 or fruit != 0 or spicy != 0">
                        OR
                    </if>
                    earth = #{earth}
                </if>
                <if test="oak != 0">
                    <if test="flower != 0 or plant != 0 or fruit != 0 or spicy != 0 or earth != 0">
                        OR
                    </if>
                    oak = #{oak}
                </if>
                <if test="nuts != 0">
                    <if test="flower != 0 or plant != 0 or fruit != 0 or spicy != 0 or earth != 0 or oak != 0">
                        OR
                    </if>
                    nuts = #{nuts}
                </if>
                )
            </if>

            <if test="priceRange != null">
                AND (
                <foreach item="range" collection="priceRange" separator=" OR " open="(" close=")">
                    <choose>
                        <when test="range == 0">
                            price >= 0
                        </when>
                        <when test="range == 1">
                            price <![CDATA[< 20000]]>
                        </when>
                        <when test="range == 2">
                            price >= 20000 AND price <![CDATA[< 50000]]>
                        </when>
                        <when test="range == 3">
                            price >= 50000 AND price <![CDATA[< 100000]]>
                        </when>
                        <when test="range == 4">
                            price >= 100000
                        </when>
                    </choose>
                </foreach>
                )
            </if>
        </where>
        order by B.product_id
    </select>


    <insert id="insRecommand">
        INSERT INTO t_user_recommand
        (user_id, category_id, country_id, small_category_id, price_range, flower, plant, fruit, spicy, earth, oak,
        nuts)
        VALUES
        (
        #{userId},
        #{categoryId,jdbcType=BIGINT},
        #{countryId,jdbcType=BIGINT},
        #{smallCategoryId,jdbcType=BIGINT},
        #{priceRange,jdbcType=BIGINT},
        #{flower},
        #{plant},
        #{fruit},
        #{spicy},
        #{earth},
        #{oak},
        #{nuts}
        )

    </insert>
    <insert id="insUserinfo">
        INSERT INTO t_user_info (user_id, product_id)
        VALUES
        <foreach item="productId" collection="productId" separator=",">
            (#{userId}, #{productId})
        </foreach>
    </insert>

    <select id="selUserCategoryId">
        SELECT distinct category_id categoryId
        FROM t_user_recommand
        WHERE user_id=#{userId}
    </select>
    <select id="selUserCountryId">
        select distinct country_id countryId
        FROM t_user_recommand
        WHERE user_id=#{userId}
    </select>
    <select id="selUserSmallCategoryId">
        SELECT distinct small_category_id smallCategoryId
        FROM t_user_recommand
        WHERE user_id=#{userId}
    </select>
    <select id="selUserPriceRange">
        SELECT distinct category_id categoryId
        FROM t_user_recommand
        WHERE user_id=#{userId}
    </select>
    <select id="selUserAroma">
        select distinct flower, plant, fruit, spicy, earth, oak, nuts
        FROM t_user_recommand
        WHERE user_id=#{userId}
    </select>





    <select id="loginUserPk">
        select user_id userId
        from t_user
        where user_id=#{userId}
    </select>

    <select id="selUserinfo">
        select product_id productId
        from t_user_info
        where user_id=#{userId}
    </select>


    <delete id="delInfo">
        delete
        from t_user_info
        where user_id=#{userId}
    </delete>
    <delete id="delUserRecommend">
        delete
        from t_user_recommand
        where user_id=#{userId}
    </delete>

</mapper>



