<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.winey.recommand.RecommandMapper">

    <!--  -->
    <select id="selRecommand" resultType="Integer">
        SELECT distinct B.product_id
        FROM t_wine_pairing A
        INNER JOIN t_product B ON A.product_id = B.product_id
        INNER JOIN t_country C ON B.country_id = C.country_id
        INNER JOIN t_category D ON B.category_id = D.category_id
        INNER JOIN t_small_category E ON A.small_category_id = E.small_category_id
        inner join t_aroma F on F.aroma_id =B.aroma_id
        <where>
            <if test="categoryId == null or countryId == null or smallCategoryId == null">
                <if test="categoryId != null">
                    AND D.category_id IN
                    <foreach item="categoryId" collection="categoryId" open="(" separator="," close=")">
                        #{categoryId}
                    </foreach>
                </if>

                <if test="countryId != null">
                    AND B.country_id IN
                    <foreach item="countryId" collection="countryId" open="(" separator="," close=")">
                        #{countryId}
                    </foreach>
                </if>

                <if test="smallCategoryId != null">
                    AND E.small_category_id IN
                    <foreach item="smallCategoryId" collection="smallCategoryId" open="(" separator="," close=")">
                        #{smallCategoryId}
                    </foreach>
                </if>
            </if>

            <!-- aroma 객체가 null이 아닌 경우에만 조건을 추가 -->
            <if test="(aroma == null) or (aroma.flower == 0 and aroma.plant == 0 and aroma.fruit == 0 and aroma.spicy == 0 and aroma.earth == 0 and aroma.oak == 0 and aroma.nuts == 0)">
                <!-- Do nothing, bypassing the aroma conditions -->
            </if>
            <if test="aroma != null and (aroma.flower != 0 or aroma.plant != 0 or aroma.fruit != 0 or aroma.spicy != 0 or aroma.earth != 0 or aroma.oak != 0 or aroma.nuts != 0)">
                AND (
                flower = #{aroma.flower}
                and plant = #{aroma.plant}
                and fruit = #{aroma.fruit}
                and spicy = #{aroma.spicy}
                and earth = #{aroma.earth}
                and oak = #{aroma.oak}
                and nuts = #{aroma.nuts}
                )
            </if>
            <if test="priceRange == null">
                <!-- Do nothing, bypassing the conditions -->
            </if>
            <if test="priceRange != null">
                <choose>
                    <when test="priceRange == 1">
                        AND price <![CDATA[< 20000]]>
                    </when>
                    <when test="priceRange == 2">
                        AND price >= 20000 AND price <![CDATA[< 50000]]>
                    </when>
                    <when test="priceRange == 3">


                        AND price >= 50000 AND price <![CDATA[< 100000]]>
                    </when>
                    <when test="priceRange == 4">
                        AND price >= 100000
                    </when>
                    <when test="priceRange == 5">
                        AND price >= 0
                    </when>
                </choose>
            </if>

        </where>
    </select>

    <insert id="insUserinfo">
        INSERT INTO t_user_info (user_id, product_id)
        VALUES
        <foreach item="productId" collection="productId" separator=",">
            (#{userId}, #{productId})
        </foreach>
    </insert>

    <select id="selUserinfo">
        select product_id
        from t_user_info
        where user_id=#{userId}
    </select>
</mapper>



